[application]

[web.app]

# HTML title tag content
title = "ukeep"

# Disable wasm-opt to avoid DWARF compatibility issues
[web.wasm_opt]
level = "0"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
